.deposit{
  background-color: var(--theme-white);
  padding: 20px;
  border-radius: 10px;
  height: 85vh;
  .deposit-item {
    display: flex;
    img {
      width: 300px;
      margin-top: 90px;
    }
    align-items: center;
  }
  form {
    .form-item {
      display: block;
      margin-bottom: 15px;
      label {
        padding-bottom: 10px;
      }
      select, input {
        padding: 10px;
        width: 100%;
        background-color: var(--theme-white);
        border-radius: 10px;
        border: 1px solid var(--theme-dark);
      }
    }
    .form-sub {
      margin-top: 30px;
      input {
        padding: 10px;
        background-color: var(--primary);
        color: #fff;
        width: 160px;
        height: 46px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .deposit {
    .deposit-item {
      display: flex;
      img {
        width: 400px;
        margin-top: 0px;
      }
      align-items: center;
      height: 65vh;
    }
  }
}