// .dash-side {
//   background-color: var(--theme-dark);
//   height: 100vh;
//   position: fixed;
//   width: 240px;
//   .sidebar {
//     margin-top: 50px;
//     .user-img {
//       width: 80px;
//       margin: auto;
//       img {
//         text-align: center;
//         width: 60px;
//         height: 60px;
//         border-radius: 50px;
//       }
//     }
//     .user-name {
//       margin-top: 10px;
//       text-align: center;
//       color: var(--theme-white);
//       padding-bottom: 20px;
//       border-bottom: 1px solid var(--underline-user);
//     }
//     .navigations {
//       margin-top: 20px;
//       .navigate-list {
//         list-style: none;
//         padding-left: 20px;
//         .navigate-item {
//           color: var(--theme-white);
//           margin-top: 20px;
//           .navigate-link{
//             padding-left: 35px;
//             text-decoration: none;
//             padding: 10px;
//             color: var(--theme-white);
//             img {
//               padding-right: 40px;
//             }
//             &.router-link-exact-active {
//               color: var(--primary);
//               background-color: var(--theme-dark-light);
//               // border: 1px solid var(--primary);
//               border-radius: 10px;
//               width: 180px;
//               display: inline-flex;
//             }
//           }
//         }
//       }
//     }
//     .log-out {
//       margin-top: 20px;
//       padding-left: 20px;
//       .log-div {
//         display: flex;
//         color: var(--theme-white);
//         padding: 10px;
//         cursor: pointer;
//         img {
//           padding-right: 40px;
//         }
//         p {
//           margin-bottom: 0px;
//         }
//       }
//     }
//   }
// }