
:root {
  --theme-dark: #212936;
  --theme-white: #fff;
  --underline-user: #313C4E;
  --primary: #1976D2;
  --theme-dark-light: #2B3648;
  --theme-background: #E5E5E5;
  --gray: #C4C4C4;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,900&display=swap');

body {
  background-color: var(--theme-white);
  font-family: 'Nunito', sans-serif;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.Vue-Toastification__toast {
  font-family: 'Nunito', sans-serif !important;
}

.dash-side {
  display: none;
}
.page-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav {
  .sidebar-icons {
    width: 170px;
    margin-left: 22px;
    a {
      width: 170px;
    }
  }
  .logout {
    width: 140px;
  }
}

.router-link-exact-active{
  background-color: #fff !important;
  color: var(--primary) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/forms;

@layer components {
  .sidebar-icons {
    @apply relative flex items-center px-3 h-12 mt-2 mb-2 mx-auto bg-theme-dark hover:bg-white rounded-l-full transition-all duration-300 ease-linear cursor-pointer text-white hover:text-primary;
  }
  .logout {
    @apply relative flex justify-center items-center px-3 h-10 mt-24 mb-2 mx-auto bg-primary hover:bg-white rounded-full transition-all duration-300 ease-linear cursor-pointer text-white hover:text-primary text-center;
  }
  .container {
    @apply max-w-xs sm:max-w-md md:max-w-2xl m-auto mb-20
  }
  .slide-sidebar-x {
    @apply absolute bg-white shadow-xl rounded-full w-[40px] h-[40px] pl-[11px] pt-1 left-[175px] top-[15px] z-30 cursor-pointer
  }
  .slide-sidebar {
    @apply absolute bg-white shadow-xl rounded-full w-[40px] h-[40px] pl-[8px] pt-1 left-[175px] top-[15px] z-30 cursor-pointer
  }
  .slide-sidebar-close {
    @apply absolute bg-white shadow-xl rounded-full w-[40px] h-[40px] pl-[8px] pt-1 top-[15px] z-30 cursor-pointer
  }
  
}

@media (min-width: 1000px) {
  .container {
    max-width: 980px !important;
    margin-left: 259px;
    margin-bottom: 50px;
  }
  .dash-side {
    display: block;
  }

  .slide-sidebar-x {
    display: none
  }
  .slide-sidebar-close {
    display: none;
  }
}

@import 'components/auth.scss';
@import 'components/sidebar.scss';
@import 'components/deposit.scss';
@import 'components/dashboard.scss';